@model List<TechStore.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

@if(TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if(TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<h2 class="text-center mb-5">@ViewData["Title"]</h2>

<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Create">Add Product</a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Brand</td>
                <td>@product.Category</td>
                <td>@(product.Price)$</td>
                <td><img src="/photos/@product.ImageFileName" width="100"/></td>
                <td>@product.DateAdded.ToString("MM/dd/yyyy")</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit" asp-route-id="@product.ProductId"> Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Products" asp-action="Delete" asp-route-id="@product.ProductId"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
